# Table of content
## 1. Setting up
## 2. Grouping and Aggregating Data
## 3. Creating various flags

# 1. Setting up

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# creating path for later import/export

path = r"C:\Users\Anwender\Documents\07-2023 Instacart Basket Analysis\02 Data"

In [7]:
# importing df

ords_prods_merge = pd.read_pickle(os.path.join(path, "Prepared Data", "df_merged.pkl"))

In [8]:
# limitting df to one million rows

df = ords_prods_merge[:1000000]

In [9]:
# checking shape

df.shape

(1000000, 14)

In [10]:
# checking head

df.head()

,order_id,user_id,amount_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# 2. Grouping and Aggregating Data

In [11]:
# splitting data into group by product name

df.groupby("product_name")

In [14]:
# single aggregation to get mean of amount_of_orders

df.groupby("department_id").agg({"amount_of_orders": ["mean"]})

              amount_of_orders
                          mean
department_id
4                    18.825780
7                    17.472355
13                   17.993423
14                   19.246334
16                   19.463012
17                   11.294069
19                   19.305237
20                   17.599636

In [16]:
# alternatively using mean() to get the same results

df.groupby("department_id")["amount_of_orders"].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: amount_of_orders, dtype: float64

In [17]:
# performing multiple aggregations simultaneously

df.groupby("department_id").agg({"amount_of_orders": ["mean", "min", "max"]})

              amount_of_orders
                          mean min max
department_id
4                    18.825780   1  99
7                    17.472355   1  99
13                   17.993423   1  99
14                   19.246334   1  99
16                   19.463012   1  99
17                   11.294069   1  98
19                   19.305237   1  99
20                   17.599636   1  99

In [18]:
# creating max_order derivation by grouping user_id and aggregating by amount_of_orders 

ords_prods_merge["max_order"] = ords_prods_merge.groupby(["user_id"])["amount_of_orders"].transform(np.max)

In [19]:
ords_prods_merge.head()

,order_id,user_id,amount_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10

In [20]:
# removing limit from head():

pd.options.display.max_rows = None

In [21]:
ords_prods_merge.head(100)

,order_id,user_id,amount_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,7
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,6
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,6
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,8
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,22

# 3. Creating various flags

In [22]:
# creating loyalty flag based on max_order using loc:

ords_prods_merge.loc[ords_prods_merge["max_order"] > 40, "loyalty_flag"] = "Loyal customer"

In [23]:
ords_prods_merge.loc[(ords_prods_merge["max_order"] <= 40) & (ords_prods_merge ["max_order"] > 10), "loyalty_flag"] = "Regular customer"

In [24]:
ords_prods_merge.loc[ords_prods_merge["max_order"] <= 10, "loyalty_flag"] = "New customer"

In [27]:
# checking output

ords_prods_merge["loyalty_flag"].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [28]:
ords_prods_merge[["user_id", "loyalty_flag", "amount_of_orders"]].head(60)

    user_id      loyalty_flag  amount_of_orders
0         1      New customer                 1
1         1      New customer                 2
2         1      New customer                 3
3         1      New customer                 4
4         1      New customer                 5
5         1      New customer                 6
6         1      New customer                 7
7         1      New customer                 8
8         1      New customer                 9
9         1      New customer                10
10       15  Regular customer                15
11       15  Regular customer                17
12       15  Regular customer                18
13       15  Regular customer                21
14       15  Regular customer                22
15       19      New customer                 2
16       19      New customer                 5
17       19      New customer                 7
18       21  Regular customer                10
19       31  Regular customer                10
20       31  Regular customer                17
21       43  Regular customer                 6
22       43  Regular customer                 9
23       52  Regular customer                 1
24       52  Regular customer                 2
25       52  Regular customer                 3
26       52  Regular customer                 5
27       52  Regular customer                 7
28       52  Regular customer                 9
29       52  Regular customer                10
30       52  Regular customer                11
31       52  Regular customer                12
32       52  Regular customer                15
33       52  Regular customer                17
34       52  Regular customer                18
35       52  Regular customer                19
36       52  Regular customer                21
37       67  Regular customer                 1
38       67  Regular customer                 2
39       67  Regular customer                 3
40       67  Regular customer                 4
41       67  Regular customer                 5
42       67  Regular customer                 6
43       67  Regular customer                 8
44       67  Regular customer                 9
45       67  Regular customer                10
46       67  Regular customer                11
47       67  Regular customer                12
48       67  Regular customer                13
49       67  Regular customer                14
50       67  Regular customer                16
51       67  Regular customer                18
52       67  Regular customer                19
53       67  Regular customer                21
54       67  Regular customer                22
55       67  Regular customer                23
56       81      New customer                 3
57       81      New customer                 5
58       82  Regular customer                 1
59       82  Regular customer                 3

In [30]:
# creating spending flag based on average spending using loc:

ords_prods_merge["average_spending"] = ords_prods_merge.groupby(["user_id"])["prices"].transform(np.mean)

In [32]:
ords_prods_merge.loc[ords_prods_merge["average_spending"] >= 10, "spending_flag"] = "high spender"

In [33]:
ords_prods_merge.loc[ords_prods_merge["average_spending"] < 10, "spending_flag"] = "Low spender"

In [39]:
ords_prods_merge["spending_flag"].value_counts(dropna = False)

Low spender     31770614
high spender      634245
Name: spending_flag, dtype: int64